.markdownInfo {
    color: #555;
}
  
.markdownInfo h1, .markdownInfo h2, .markdownInfo h3, .markdownInfo h4, .markdownInfo h5, .markdownInfo h6 {
    line-height: 1.1em;
    margin: 1.1em 0;
    font-weight: bolder;
}
  
.markdownInfo h1 {
    font-size: 2.0em;
}
  
.markdownInfo h2 {
    font-size: 1.5em;
}

.markdownInfo h3 {
    font-size: 1.3em;
}

.markdownInfo h4 {
    font-size: 1.2em;
}

.markdownInfo h5 {
    font-size: 1.0em;
}

.markdownInfo h6 {
    font-size: 1.0em;
    color: #999;
}

.markdownInfo p {
    line-height: 1.6em;
    margin: 1.6em 0;
}

.markdownInfo img {
    max-width: 100%;
}

.markdownInfo em {
    background-color: #fee9cc;
    color: rgba(0, 0, 0, 0.75);
    padding: 1px 3px;
}

.markdownInfo strong {
    font-weight: bolder;
}

.markdownInfo pre {
    background-color: #2d2d2d;
    padding: 15px 20px;
    margin: 1.6em -20px;
    line-height: 1.2em;
    border: 1px solid #ddd;
    color: #ccc;
    overflow: auto;
    font-family: "Source Code Pro", Monaco, Menlo, Consolas, monospace;
}

.markdownInfo ul {
    list-style: disc;
}

.markdownInfo ul, .markdownInfo ol, .markdownInfo dl {
    margin: 1.6em 20px 1.6em 20px;
    line-height: 1.6em;
}
    
.markdownInfo table {
    display: block;
    width: 100%;
    overflow: auto;
}

.markdownInfo table th {
    font-weight: bold;
}

.markdownInfo table th,
.markdownInfo table td {
    padding: 6px 13px;
    border: 1px solid #ddd;
}

.markdownInfo table tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
}

.markdownInfo table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

.markdownInfo video, .markdownInfo embed {
    display: block;
    width: 100%;
}

.markdownInfo blockquote {
    position: relative;
    padding-left: 15px;
    margin: 1.6em 0;
    font-family: georgia,serif;
    font-style: italic;
}

.markdownInfo blockquote:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 3px;
    height: 100%;
    background-color: #135079;
}

.markdownInfo blockquote p {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    margin: 0;
    font-style: italic;
}