footer.footer-container
	.footer-content.clearfix
		p © 2018 香菜
		p 小撸怡情，大撸伤身，强撸灰飞烟灭。
		p 少上点网，多点运动；好好学习，天天向上。
		p console.log('hello world');
		p #{motto}

script(src='/lib/jquery.min.js')
script(src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js")
script(src="/lib/smoothScroll.js")
script(src="/lib/APlayer.min.js")
script(src="/js/tool.js")
script(src="/js/ajax.js")
script(src='/js/init.js')

//- 腾讯统计
script(src="https://tajs.qq.com/stats?sId=64852535")
//- 百度统计
script.
	(function(){
		var bp = document.createElement('script');
		var curProtocol = window.location.protocol.split(':')[0];
		if (curProtocol === 'https') {
			bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
		}
		else {
			bp.src = 'http://push.zhanzhang.baidu.com/push.js';
		}
		var s = document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(bp, s);
	})()