
//- 网站首页

extends ../common/layout

block content

	.page-title-box.message
		.page-title-content
			h1 Messages
			p 有什么想吐槽的 想说的都可以哟 拒绝py交易
		
	- prompt = "还没有小伙伴留言，快来吐槽吧！"
	- messages = messages
	- pageType = "message"
	include ../part/messageBox
